/*
    Animaton SCSS

    Holds the animation keyframes for the web page.
 */

// Slide Up Animation
@keyframes slide-up-fadein {
    0% {
        opacity:    0;
        transform:  translate(0px,40px);
    }

    100% {
        opacity:    1;
        transform:  translate(0px,0px);
    }
}

// Fade In Animation
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}