/*
  Core SCSS

  Houses the core SCSS.
 */

// Section Styling

// Start Sticky Footer
#site {
  display:        flex;
  flex-direction: column;

  min-height: 100vh;
}

#site-content {
  flex: 1;

  > div {
    padding: 0 0.5em;
  }
}
// End Sticky Footer

// Element Container
.container {
  display: flex;

  margin: 0 auto;

  width:         100%;
  max-width:     970px;
}

// Paragraph Tag Styling
p {
  margin: 0;

  line-height: 1.6em;
}