/*
  Typography SCSS

  Houses the different Typography that is used by the website.
 */

// Heading Font Styling
h1, h2, h3, h4, h5, label {
    padding: 0;
    margin:  0;

    font-family: $primary-font;
}

// Body Text Font Styling
p, a, blockquote, input, select {
    font-family: $secondary-font;
}