/*
    Footer SCSS

    Footer Styling SCSS.
 */

.site-footer {
    padding: 0.8em 0;

    background: $primary-color;

    .container {
        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        align-items:     center;

        @include media-query(phone) {
            flex-direction: column;
        }
    }

    .footer-information, .footer-valve-statement {
        padding: 0.5em 0;

        @include media-query(phone) {
            margin: 0 0.5em;
        }
    }

    .footer-information {
        display: inherit;

        > p {
           margin-right: 0.5em;
        }
    }
}