/*
    Information

    Houses The Information SCSS.
 */

#information {
    margin-bottom: 1em;

    @include media-query(phone) {
        margin: 1em 0;
    }

    > section > .container {
        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        flex-wrap:       wrap;

        > article {
            margin: 1.5em 0;

            width: 45%;

            &:first-child {
                margin: 1em 0;
            }

            @include media-query(tablet) {
                margin-top: 1em;

                width:      100%;
            }

            > header {
                margin: 0.5em 0;
            }

            &.mission {
                width: 100%;
            }

            &.payment {
                width: 100%;
            }
        }
    }
}