/*
    Miner SCSS.

    Miner section SCSS.
 */

#miner > .container {
    display:        flex;
    flex-direction: column;

    // Spacing for Div elements
    > div {
        margin-bottom: 1em;
    }

    // Miner hash rate & total
    > .miner-box {
        display:         flex;
        flex-direction:  column;
        justify-content: space-between;
        flex:            1;

        padding: 2em 0;

        background-color: $secondary-color;
        border-bottom:    2px solid $primary-color;

        animation: slide-up-fadein 1s;

        @include   box-shadow;

        @include media-query(phone) {
            padding: 1em 0;
        }

        > .miner-info {
            display:         inherit;
            justify-content: space-around;

            @include media-query(phone) {
                flex-direction:  column;
                justify-content: space-between;
            }

            > div {
                display:        inherit;
                flex-direction: column;
                align-items:    center;

                font-size: 2em;

                @include media-query(phone) {
                    margin-bottom: 0.5em;
                }

                > h3 {
                    padding: 0.5em 0;
                }

                > h3, p {
                    margin: 0;
                }
            }
        }
    }

    // Miner menu - Total earned, cashout, and switch
    .miner-menu {
        display:         flex;
        justify-content: space-between;

        animation:  fade-in 2s;

        > .miner-data {
            display: inherit;

            > p {
                margin-right: 1em;
            }
        }

        // Miner toggle switch
        > .miner-toggle {
            display:     flex;
            align-items: center;

            margin-right: 0.4em;

            > p {
                margin-right: 1em;
            }

            @include switch;
        }
    }

    // Miner payment section
    .miner-payment {

        // Form styling
        > .form {
            padding:          1em;

            background-color: $primary-color;

            animation:        fade-in 2s;

            > div:not(:last-child) {
                margin-bottom: 2em;

                @include media-query(phone) {
                    margin-bottom: 1em;
                }
            }

            // Miner payment form display
            .miner-payment-menu {
                display:         flex;
                justify-content: space-between;
                align-items:     center;

                @include media-query(phone) {
                    flex-direction: column;

                    align-items: stretch;
                }

                .miner-payment-label, .miner-payment-bitskin-code, .form-button {
                    padding: 0.5em;

                    @include media-query(phone) {
                        margin-bottom: 0.5em;
                    }
                }

                > .form-button {
                    &:hover {
                        color: rgba(0, 0, 0, 0.8);
                    }
                }
            }
        }

        // Bitskin helper text
        .miner-payment-bitskin-info {
            margin-top: 0.5em;
        }

    }
}